#mainContainer {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
}

#secondContainer {
  height: 850px;
  width: 550px;
  background-color: #626C99;
}

#closeButton {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #22354f;
  color: white;
  border-radius: 8px;
}

th {
  font-size: 24px;
}

td {
  font-size: 20px;
}

@media screen and (max-width: 900px) {
  #secondContainer {
    width: 90%;
  }
}
