#date {
  width: 425px;
}

.day {
  width: 200px;
  height: 80px;
  background-color: #22354f;
  margin: 25px;
  text-align: center;
}

.lesson {
  width: 200px;
  height: 60px;
  margin: 25px;
  background-color: #626c99;
  text-align: center;
}

div {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.box {
  width: 200px;
  height: 60px;
  background-color: #0ACF83;
  margin: 15px;
  border-radius: 20px;
}

.days {
  width: 200px;
  height: 80px;
  background-color: #22354F;
  margin: 15px;
  border-radius: 10px;
}

p{
  margin: 0px;
  font-size: 30px;
}
