#date {
  width: 425px;
}

.lessonBox {
  width: 220px;
  height: 500px;
  margin: 0px;
  background-color: #626C99;
  overflow-y: auto;
  overflow: hidden;
}

.lessonItem {
  width: 170px;
  height: 90px;
  margin: 30px 15px 0px 15px;
  background-color: #22354f;
  border-radius: 10px;
}

.lessons {
  margin: 15px;
}

.request {
  width: 220px;
  height: 60px;
  background-color: #0ACF83;
  margin: 15px;
  border-radius: 20px;
}

.days {
  width: 220px;
  height: 80px;
  background-color: #22354F;
  margin: 15px;
  border-radius: 10px;
}

p{
  margin: 0px;
  font-size: 30px;
}
