<div class="row">
  <input type="date" id="date" />
</div>

<div class="col" style="height: 100vh">
  <div class="container">
    <div class="row">
      <p class="col"></p>
      <p class="day col">Hétfő</p>
      <p class="day col">Kedd</p>
      <p class="day col">Szerda</p>
      <p class="day col">Csütörtök</p>
      <p class="day col">Péntek</p>
      <p class="day col">Szombat</p>
      <p class="day col">Vasárnap</p>
      <p class="col"></p>
    </div>

    <div class="row">
      <p class="col">8</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="col"></p>
    </div>
    <div class="row">
      <p class="col">9</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="col"></p>
    </div>
    <div class="row">
      <p class="col">10</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="col"></p>
    </div>
    <div class="row">
      <p class="col">11</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="col"></p>
    </div>
    <div class="row">
      <p class="col">12</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="col"></p>
    </div>
    <div class="row">
      <p class="col">13</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="col"></p>
    </div>
    <div class="row">
      <p class="col">14</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="col"></p>
    </div>
    <div class="row">
      <p class="col">15</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="lesson col">+</p>
      <p class="col"></p>
    </div>
  </div>
</div>
