<div class="container-fluid d-flex flex-column justify-content-center align-items-start mainFont" >
  <div class="row">
    <div class="col d-flex justify-content-start">
      <input type="date" />
    </div>
  </div>
  <div class="row m-0">
    <div class="col p-0" style="width: 200px;">
      <p>⬅️</p>
    </div>
    <div class="col  p-0 d-flex align-items-center justify-content-center days">
      <p>Hétfő</p>
    </div>
    <div class="col p-0 d-flex days">
      <p>Kedd</p>
    </div>
    <div class="col p-0 d-flex days">
      <p>Szerda</p>
    </div>
    <div class="col p-0 d-flex days">
      <p>Csütörtök</p>
    </div>
    <div class="col p-0 d-flex days">
      <p>Péntek</p>
    </div>
    <div class="col p-0 d-flex days">
      <p>Szombat</p>
    </div>
    <div class="col p-0 d-flex days">
      <p>Vasárnap</p>
    </div>
  </div>
  @for (hour of hours; track $index) {
  <div class="row m-0">
    <div class="col" style="width: 200px;">
      <p>{{ hour }}</p>
    </div>
    <div class="col d-flex box">
      <p>➕</p>
    </div>
    <div class="col d-flex box">
      <p>➕</p>
    </div>
    <div class="col d-flex box">
      <p>➕</p>
    </div>
    <div class="col d-flex box">
      <p>➕</p>
    </div>
    <div class="col d-flex box">
      <p>➕</p>
    </div>
    <div class="col d-flex box">
      <p>➕</p>
    </div>
    <div class="col d-flex box">
      <p>➕</p>
    </div>
  </div>
  }
</div>
