#date {
  width: 425px;
}

.lessonBox {
  height: 700px;
  margin: 0px;
  background-color: #626C99;
  overflow-y: auto;
  overflow: hidden;
  border-radius: 10px;
}

.lessonItem {
  width: 100%;
  height: 90px;
  background-color: #22354f;
  border-radius: 10px;
}

.lessons {
  margin: 15px;
}

.request {
  height: 60px;
  background-color: #0ACF83;
  border-radius: 20px;
}

.days {
  height: 80px;
  background-color: #22354F;
  margin: 15px;
  border-radius: 10px;
}

p{
  margin: 0px;
  font-size: 30px;
}

app-driving-lesson-editor, app-request-container {
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
}

.weekSwitcherButton {
  height: 80px;
  border: none;
  border-radius: 8px;
  background-color: #22354F;
  color: white;
}

.selectedPhoneDate {
  background-color: #1A99FE;
  border-radius: 12px;
}

.daySwitcherButton {
  background-color: #22354F;
  border: none;
  height: 40px;
  width: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
