.requestTypeButton {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.selectedButton {
  background-color: #22354f;
  color: white;
}

.arrowButton {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #22354f !important;
  background-color: transparent;
  border: none;
}

.arrowButton span {
  font-size: 35px !important;
}

select {
  background-color: #22354f;
  border: none;
  height: 35px;
  width: 35px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  text-indent: 0.1;
  text-overflow: '';
  text-align: center;
  border-radius: 3px;
  color: #DEE0EB;
}
