<div class="container-fluid text-white" id="mainContainer">
  <div class="row h-100">
    <div
      class="col-lg-12 h-100 d-flex justify-content-center align-items-center"
    >
      <div
        class="container-fluid d-flex flex-column justify-content-between py-4"
        id="secondContainer"
      >
        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-12 d-flex justify-content-end">
              <button class="closeButton" (click)="close.emit()">X</button>
            </div>
            <h1 class="text-center mb-5">Admin keresése:</h1>

            @for (user of userList; track $index) {
              <p
                [class.selectedEmail]="selectedEmail === user.email"
                (click)="selectedEmail = user.email"
                class="text-center py-2"
              >
                {{ user.name }} - {{ user.email }}
              </p>
            }
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-lg-12 d-flex justify-content-center">
            <button
              class="eventButton text-white"
              [disabled]="selectedEmail == null"
              (click)="addAdmin()"
            >
              Mentés
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
