#mainContainer {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}

#secondContainer {
  width: 1100px;
  height: 700px;
  background-color: #626c99;
  border-radius: 12px;
}

.eventButton {
  background-color: #22354f;
  border: none;
  color: white;
  width: 175px;
  height: 50px;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

textarea {
  border: none;
  background-color: #434A6B;
  border-radius: 5px;
  color: #dee0eb;
  height: 150px;
  padding: 0px 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 100%;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/**/
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
