<div
  id="navbar"
  class="navbar d-flex flex-column justify-content-between align-items-start mainFont"
>
  <div
    id="top"
    class="d-flex flex-column justify-content-start align-items-start"
  >
    <div
      class="profil d-flex justify-content-start align-items-center"
      [class.navbar:hover]="true"
      routerLink="profil/user/{{ userService.loggedUser()?.id }}"
    >
      <div id="avatar" class="d-flex justify-content-center align-items-center">
        <img src="assets/icons/defaultProfileImg.svg" alt="" />
      </div>
      <a>Profil</a>
    </div>

    <div
      class="navItem d-flex justify-content-start align-items-center"
      [class.navbar:hover]="true"
      routerLink="home"
    >
      <div
        class="navIconContainer d-flex justify-content-center align-items-center"
      >
        <mat-icon
          class="navIcons d-flex justify-content-center align-items-center"
          fontIcon="home"
        ></mat-icon>
      </div>
      <a>Főoldal</a>
    </div>

    <div
      class="navItem d-flex justify-content-start align-items-center"
      routerLink="calendar"
    >
      <div
        class="navIconContainer d-flex justify-content-center align-items-center"
      >
        <mat-icon
          class="navIcons d-flex justify-content-center align-items-center"
          fontIcon="calendar_month"
        ></mat-icon>
      </div>
      <a>Naptár</a>
    </div>

    <div
      class="navItem d-flex justify-content-start align-items-center"
      routerLink="search-page"
    >
      <div
        class="navIconContainer d-flex justify-content-center align-items-center"
      >
        <mat-icon
          class="navIcons d-flex justify-content-center align-items-center"
          fontIcon="people"
        ></mat-icon>
      </div>
      <a routerLink="searchPage/instructor">Oktatók</a>
    </div>

    <div
      class="navItem d-flex justify-content-start align-items-center"
      routerLink="search-page"
    >
      <div
        class="navIconContainer d-flex justify-content-center align-items-center"
      >
        <mat-icon
          class="navIcons d-flex justify-content-center align-items-center"
          fontIcon="home_work"
        ></mat-icon>
      </div>
      <a routerLink="searchPage/school">Iskolák</a>
    </div>

    @if(userService.loggedUser()?.role?.name == "ROLE_instructor" ||
    userService.loggedUser()?.role?.name == "ROLE_school_admin" ||
    userService.loggedUser()?.role?.name == "ROLE_school_owner"){
    <div
      class="navItem d-flex justify-content-start align-items-center"
      routerLink="search-page"
    >
      <div
        class="navIconContainer d-flex justify-content-center align-items-center"
      >
        <mat-icon
          class="navIcons d-flex justify-content-center align-items-center"
          fontIcon="people"
        ></mat-icon>
      </div>
      <a (click)="checkRequestList()">Kérelmek</a>
    </div>
    }
  </div>

  <div id="login" class="d-flex justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center">
      <img src="assets/icons/kijeletkezés.svg" alt="" />
    </div>
    @if(userService.loggedUser() == null){
    <a routerLink="login">Bejelentkezése</a>
    } @else {
    <a>kijeletkezés</a>
    }
  </div>
</div>
