<div id="navbar" class="d-flex flex-column justify-content-between align-items-start">

  <div class="d-flex flex-column justify-content-start align-items-start">

    <div class="profil d-flex justify-content-center align-items-center">
      <a>Profil</a>
    </div>

    <div class="navItem d-flex justify-content-start align-items-center">
      <div class="navIconContainer d-flex justify-content-center align-items-center">
        <mat-icon class="navIcons d-flex justify-content-center align-items-center" fontIcon="home"></mat-icon>
      </div>
      <a routerLink="home">Főoldal</a>
    </div>

    <div class="navItem d-flex justify-content-start align-items-center">
      <div class="navIconContainer d-flex justify-content-center align-items-center">
        <mat-icon class="navIcons d-flex justify-content-center align-items-center" fontIcon="calendar_month"></mat-icon>
      </div>
      <a>Naptár</a>
    </div>

    <div class="navItem d-flex justify-content-start align-items-center">
      <div class="navIconContainer d-flex justify-content-center align-items-center">
        <mat-icon class="navIcons d-flex justify-content-center align-items-center" fontIcon="people"></mat-icon>
      </div>
      <a>Oktatók</a>
    </div>

    <div class="navItem d-flex justify-content-start align-items-center">
      <div class="navIconContainer d-flex justify-content-center align-items-center">
        <mat-icon class="navIcons d-flex justify-content-center align-items-center" fontIcon="home_work"></mat-icon>
      </div>
      <a>Iskolák</a>
    </div>

  </div>

  <div id="login" class="d-flex justify-content-start align-items-end">
    <a routerLink="login">Bejelentkezése</a>
  </div>

</div>
