#navbar {
  background-color: #22354f;
  color: white;
  padding: 15px;
  width: 120px;
  height: 100%;
  position: fixed;
}

#navbar:hover {
  background-color: #22354f;
  color: white;
  padding: 25px;
  width: 360px;
  height: 100%;
}
/*------------------*/

#navbar a {
  padding: 5px 10px;
  display: none;
}

#navbar:hover a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
}

/*------------------*/
#navbar:hover .navItem {
  margin: 30px 0px 0px 0px;
}

#navbar:hover .navItem:hover {
  width: 310px;
  height: 70px;
  border-radius: 50px;
  background-color: #434a6b;
  margin: 30px 0px 0px 0px;
  font-size: 32px;
}

/*------------------*/

#navbar:hover .navItem:hover .navIconContainer {
  background-color: #22354f;
  width: 60px;
  height: 60px;
  margin: 0px 5px;
}
#navbar:hover .navItem:hover .navIcons {
  width: 60px;
  height: 60px;
  font-size: 40px;
}


#navbar .navItem {
  margin: 30px 0px 0px 0px;
}

#navbar:hover .navItem {
  margin: 30px 0px 0px 15px;
  cursor: pointer;
}

#navbar:hover .profil {
  font-weight: bold;
  width: 280px;
  height: 110px;
  padding: 10px;
  margin: 0px 0px 0px 15px;
  border-radius: 20px;
  background-color: #434a6b;
}


/*------------------*/

.navbar:hover .homePage {
  font-weight: bold;
  width: 310px;
  height: 70px;
  border-radius: 50px;
  background-color: #434a6b;
}

.navbar:hover .calendar {
  font-weight: bold;
  width: 280px;
}

.navbar:hover .instructors {
  font-weight: bold;
  width: 280px;
}

.navbar:hover .schools {
  font-weight: bold;
  width: 280px;
}

/*------------------*/

.login {
  float: bottom;
}

.navIconContainer {
  width: 40px;
  height: 40px;
  background-color: #434a6b;
  border-radius: 100px;
}

#navbar:hover #avatar {
  width: 90px;
  height: 90px;
  background-color: #22354f;
  border-radius: 20px;
}

#navbar #avatar {
  width: 70px;
  height: 70px;
  background-color: #22354f;
  border-radius: 15px;
}

.profil:hover {
  width: 90px;
  height: 90px;
  padding: 10px;
  margin: 0px 0px 0px 15px;
  border-radius: 20px;
  background-color: #434a6b;
}

#navbar .profil {
  width: 90px;
  height: 90px;
  padding: 10px;
  border-radius: 20px;
  background-color: #434a6b;
}

#navbar:hover .navItem {
  padding: 0px;
}

#navbar .navItem {
  padding: 0px 25px 0px 25px;
}

#navbar #login{
  padding: 0px 25px 0px 25px;
  margin-bottom: 30px;
}

#navbar:hover #login{
  margin-left: 15px;
  padding: 0px;
}
