<div class="container-fluid">
  <h1 class="secondaryFont">Rólunk</h1>
  <h2 class="secondaryFont">Az oldal fejlesztői</h2>
  <h4 class="mainFont">
    Halmai Bence Ádám <br>
    Magyar Barnabás <br>
    Biró Szabolcs Benjámin
  </h4>

  <h2 class="secondaryFont">Az ötlet</h2>
  <p class="mainFont">Az ötletünk alapja egy egyszerű, de sokakat érintő probléma: a forgalmi órák nyomon követése és a kapcsolattartás az oktatókkal gyakran bonyolult és kényelmetlen. A hagyományos rendszerben a forgalmi órák befizetését követően blokkot kapunk, ami könnyen elveszhet vagy elkavarodhat, így nehezebbé válik a pontos számontartás. Továbbá, az oktatóval való kapcsolattartás sem mindig egyszerű, különösen, ha a rendelkezésre álló időpontok nem esnek egybe vagy ha sürgős információra lenne szükség.</p>
  <p class="mainFont">Célunk, hogy ezen problémák megoldásával megkönnyítsük a tanulók és oktatók mindennapjait. Egy olyan egyszerű, gyors és hatékony megoldást kívánunk biztosítani, amely átláthatóan, kényelmesen és biztonságosan segíti a forgalmi órák nyomon követését és az oktatókkal való kommunikációt. A technológia adta lehetőségeket kihasználva szeretnénk, ha a vezetésre készülők számára mindezek a feladatok ne okozzanak többé gondot, így több energiát és figyelmet fordíthatnak a valódi célra: a sikeres vizsgára és a biztonságos közlekedés elsajátítására.</p>
</div>
