.inputs {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#mainContainer {
  height: 100vh;
}

#secondContainer {
  border-radius: 20px;
  height: 850px;
  width: 650px;
  background-color: #22354F;
  color: #DEE0EB;
}

.inputs {
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #626C99;
  color: #DEE0EB;
}

.inputs::placeholder{
  color: #DEE0EB;
}

#register-button {
  text-align: center;
  width: 400px;
  height: 50px;
  padding: 10px;
  color: #DEE0EB;
  background-color: #626C99;
  border: none;
  border-radius: 15px;
}

