<div id="mainContainer" class="container-fluid mainFont">
  <div class="row h-100">
    <div class="col-lg-12 h-100 d-flex justify-content-center align-items-center">

      <div id="secondContainer" class="container-fluid py-4 d-flex flex-column justify-content-between">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="text-center">Regisztráció</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <form [formGroup]="registrationForm" class="container-fluid">
              <div class="row">
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                  <label for="firstName"></label>
                  <input class="inputs" type="text" placeholder="Keresztnév" formControlName="firstName">
                </div>
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                  <label for="lastName"></label>
                  <input class="inputs" type="text" placeholder="Vezetéknév" formControlName="lastName">
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <label for="email"></label>
                  <input class="inputs" type="email" placeholder="Email" formControlName="email">
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <label for="phone"></label>
                  <input class="inputs" type="phone" placeholder="Telefonszám" formControlName="phone">
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <label for="birthDate"></label>
                  <input class="inputs" type="date" placeholder="Születési dátum" formControlName="birthDate">
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <label for="gender"></label>
                    <select class="inputs" formControlName="gender">
                      <option value="" disabled selected>Nem</option>
                      <option value="male">Férfi</option>
                      <option value="female">Nő</option>
                      <option value="other">Egyéb</option>
                    </select>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <label for="education"></label>
                    <select class="inputs" formControlName="education" placeholder="Végzettség" formControlName="education">
                      @for (education of educationList; track $index) {
                        <option [value]="education.getId">{{education.getName}}</option>
                      }
                    </select>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <label for="password"></label>
                  <input class="inputs" type="password" placeholder="Jelszó" formControlName="password">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <label for="confirmPassword"></label>
                    <input class="inputs" type="password" placeholder="Jelszó megerősítése" formControlName="confirmPassword">
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 d-flex justify-content-between align-items-center">
                  <label for="rules"><input class="check" type="checkbox"> Elfogadom a szabályzatot!</label>
                  <p>Van fiókja? <a routerLink="/login">Jelentkezzen be</a></p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <h6>Miként szeretnél regisztrálni?</h6>
                  <div>
                    <label for="student">Diákként</label>
                    <input (click)="registrationForm.controls['registerAs'].setValue('student')" type="radio" name="registerAs" id="student">
                  </div>
                  <div>
                    <label for="instructor">Oktatóként</label>
                    <input (click)="registrationForm.controls['registerAs'].setValue('instructor')" type="radio" name="registerAs" id="instructor">
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center">
            <button [disabled]="registrationForm.invalid" id="register-button" (click)="registration()">Regisztráció</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
