<div class="container-fluid d-flex flex-column align-items-center justify-content-center mainFont" id="mainContainer">
  <div class="row w-100">
    <div class="col-lg-12 d-flex justify-content-center align-items-center">

      <div class="container-fluid" id="secondContainer">
        <div class="row mt-4">
          <div class="col-lg-12 d-flex justify-content-between align-items-center">
            <div style="width: 50px; height: 50px;"></div>
            <h1 class="text-center">Profil szerkesztése</h1>
            <button (click)="close.emit()" id="closeButton">X</button>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <form [formGroup]="profilForm" class="container-fluid">
              @if(objectType() == 'user') {
                <div class="row my-3">
                  <div class="col-lg-6">
                    <label for="firstName" class="w-100">Vezetéknév:</label>
                    <input formControlName="firstName" class="w-100" type="text" placeholder="Vezetéknév" id="firstName" name="lastName"/>
                  </div>
                  <div class="col-lg-6">
                    <label for="lastName" class="w-100">Keresztnév:</label>
                    <input formControlName="lastName" class="w-100" type="text" placeholder="Keresztnév" id="lastName" name="lastName"/>
                  </div>
                </div>

              <div class="row my-3">
                <div class="inputDiv w-100 col-lg-12 d-flex flex-column align-items-start ">
                  <label for="email" class="w-100">E-mail:</label>
                  <input formControlName="email" class="w-100" type="text" placeholder="E-mail cím" id="email" name="email"/>
                </div>
              </div>

              <div class="row my-3">
                <div class="inputDiv col-lg-12 d-flex flex-column align-items-start">
                  <label for="phone">Telefonszám:</label>
                  <input class="w-100" formControlName="phone" type="text" placeholder="Telefonszám" id="phone" name="phone"/>
                </div>
              </div>

              <div class="row my-3">
                <div class="inputDiv col-lg-6 d-flex flex-column align-items-start">
                  <label for="gender">Nem:</label>
                  <select formControlName="gender" class="w-100" id="gender" name="gender">
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="other">other</option>
                  </select>
                </div>
                <div class="inputDiv col-lg-6 d-flex flex-column align-items-start">
                  <label for="birthDate">Születési dátum:</label>
                  <input formControlName="birthDate" class="w-100" type="date" id="birthDate" name="birthDate"/>
                </div>
              </div>

              <div class="row my-3">
                <div class="inputDiv col-lg-12 d-flex flex-column justify-content-center align-items-start">
                  <label for="education">Legmagasabb végzettség:</label>
                  <select formControlName="education" id="education" name="education" class="w-100">
                    @for (education of educationList; track $index) {
                    <option [value]="education.id">{{ education.name }}</option>
                    }
                  </select>
                </div>
              </div>
              } @else {
                <div class="row my-3">
                  <div class="col-lg-12">
                    <label for="schoolName">Iskola neve:</label> <br>
                    <input class="w-100" formControlName="name" type="text" id="schoolName" name="schoolName" placeholder="Az iskola neve.">
                  </div>
                </div>

                <div class="row my-3">
                  <div class="col-lg-12">
                    <label for="email">E-mail cím:</label><br>
                    <input class="w-100" formControlName="email" type="text" id="email" name="email" placeholder="Az iskolához tartozó e-mail cím.">
                  </div>
                </div>

                <div class="row my-3">
                  <div class="col-lg-12">
                    <label for="phone">Telefonszám:</label><br>
                    <input class="w-100" formControlName="phone" type="text" id="phone" name="phone" placeholder="Az iskolához tartozó telefonszám.">
                  </div>
                </div>

                <div class="row my-3">
                  <div class="col-lg-3">
                    <label for="country">Megye:</label><br>
                    <input class="w-100" formControlName="country" type="text" id="country" name="country" placeholder="Megye">
                  </div>
                  <div class="col-lg-9">
                    <label for="town">Település:</label><br>
                    <input class="w-100" formControlName="town" type="text" id="town" name="town" placeholder="Település">
                  </div>
                </div>

                <div class="row my-3">
                  <div class="col-lg-12">
                    <label for="">Cím:</label><br>
                    <input class="w-100" formControlName="address" type="text">
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12">
                    <label for="promoText">Bemutatkozó szöveg:</label><br>
                    <textarea formControlName="promoText" class="w-100" id="promoText" name="promoText" placeholder="Bemutatkozó szöveg" style="height: 150px;"></textarea>
                  </div>
                </div>

              }
            </form>
          </div>
        </div>

        @if (isInstructor) {
          <div class="row my-4">
            <div class="col-lg-12">
              <h1 class="text-center">Oktatói adatok szerkesztése</h1>
              <form [formGroup]="instructorForm" class="container-fluid">
                <div class="row my-3">
                  <div class="col-lg-12">
                    <label for="promoText">Bemutatkozó szöveg:</label><br>
                    <textarea formControlName="promoText" placeholder="Bemutatkozó szöveg" class="w-100" id="promoText" name="promoText" style="height: 150px;"></textarea>
                  </div>
                </div>

                <div class="row my-3">
                  <div class="col-lg-12">
                    <h3 class="text-center">Jármű adatainak szerkesztése</h3>
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col-lg-7">
                    <label for="vehicleName">Jármű elnevezése:</label><br>
                    <input formControlName="vehicleName" class="w-100" type="text" placeholder="Jármű elnevezése" id="vehicleName" name="vehicleName" />
                  </div>
                  <div class="col-lg-5">
                    <label for="licensePlate">Jármű rendszám:</label><br>
                    <input formControlName="licensePlate" class="w-100" type="text" placeholder="Jármű rendszáma" id="licensePlate" name="licensePlate"/>
                  </div>
                </div>

                <div class="row my-3">
                  <div class="col-lg-6">
                    <label for="fuelType">Jármű tankolasa:</label><br>
                    <select name="fuelType" id="fuelType" formControlName="fuelType" class="w-100">
                      @for (fuelType of fuelTypes; track $index) {
                        <option [value]="fuelType.id">{{ fuelType.name }}</option>
                      }
                    </select>
                  </div>

                  <div class="col-lg-6">
                    <label for="vehicleType">Jármű tipusa:</label><br>
                    <select name="vehicleType" id="vehicleType" formControlName="vehicleType" class="w-100">
                      @for (vehicleType of vehicleTypes; track $index) {
                        <option [value]="vehicleType.id">{{ vehicleType.name }}</option>
                      }
                    </select>
                  </div>
                </div>
              </form>
            </div>
          </div>
        }

        @if(objectType() == "school") {
        <div class="row mt-5">
          <div class="col-lg-12">
            <h1 class="text-center">Nyitva tartás módosítása</h1>
            <form [formGroup]="openingDetailsForm" class="container-fluid">
              @for (dayName of dayNames; track $index) {
              <div class="row my-4">
                <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center">
                  <span class="dayName">{{ dayName }}:</span>
                  <div>
                    <input class="mx-2" formControlName="{{ dayName }}Start" type="time" name="" id="" />
                    <input class="mx-2" formControlName="{{ dayName }}End" type="time" name="" id=""/>
                  </div>
                </div>
              </div>
              }
            </form>
          </div>
        </div>
        }

        <div class="row">
          <div class="col-lg-12 d-flex flex-column align-items-center justify-content-center">
            <button class="my-3 text-white" (click)="saveChanges()" id="saveButton">Változtatások mentése</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
