#mainContainer{
  background-color: #434A6B;
  width: auto;
  height: auto;
  padding: 15px;
  border-radius: 15px;
}

#secondContainer {
  width: auto;
}

input {
  border: none;
  background-color: #626C99;
  border-radius: 5px;
  color: #dee0eb;
  padding: 5px;
  width: 100%;
}

select {
  background-color: #626C99;
  color: #dee0eb;
  padding: 5px;
  border: none;
  width: 100%;
}

.inputDiv {
  background-color: #434A6B;
  width: auto;
  height: auto;
}
