.uData {
  background-color: #626c99;
  color: #dee0eb;
  width: 100%;
  height: 60px;
  margin: 30px 0px;
  border-radius: 10px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mainDiv {
  position: relative;
  z-index: 1;
}

.profil {
  margin: 0px 50px 0px 0px;
}

#avatarDiv {
  position: relative;
}

#editDiv{
  width: auto;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#avatarDiv:hover #avatar {
  opacity: 0.7;
}

#avatarDiv:hover #editDiv {
  opacity: 1;
}

#infoBox {
  background-color: #22354f;
  border-radius: 20px;
  padding: 25px;
  /* width: 1100px; */
}

#avatar {
  background-color: #22354f;
  width: 300px;
  height: 300px;
  margin: 0px 0px 20px 0px;
  border-radius: 15px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

#progressBar #bar {
  width: 850px;
  height: 20px;
  margin: 0px;
}

#progressBar {
  background-color: #636da1;
  padding: 25px;
  border-radius: 16px;
  width: 900px;
  color: white;
}

.editorButton {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  border: none;
  background-color: #636da1;
  color: #dee0eb;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="range"] {
  appearance: none;
  width: 100%;
  height: 20px;
  border-radius: 20px;
  background: linear-gradient(to right, #349eff 30.5%, #b8bdd2 30%);
  outline: none;
  overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #349eff;
}

input[type="range"]::-moz-range-progress {
  background-color: #349eff;
  height: 20px;
  border-radius: 9999px;
}
input[type="range"]::-moz-range-track {
  background-color: #b8bdd2;
  height: 20px;
  border-radius: 9999px;
}

.lesson-info-item {
  position: relative;
  padding-left: 20px;
  color: #dee0eb;
  font-size: 1rem;
}

.lesson-info-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: #349eff;
}

.lesson-info-driven::before {
  background-color: #4b9cfb;
}

.lesson-info-extra::before {
  background-color: #7BB4C7;
}

.lesson-info-required::before {
  background-color: #b3b8d1;
}

#profDel {
  background-color: #636da1;
  height: auto;
  width: auto;
  border-radius: 15px;
  padding: 15px;
}

#profDel button {
  background-color: #22354f;
  width: 100px;
  margin: 15px;
}

#profDel h3{
  margin: 15px;
}

/**/
app-review-list, app-profil-editor, #deleteContainer, app-price-list {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
}

#deleteContainer {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
}

#openingDetails, #instructorList {
  background-color: #626c99;
  border-radius: 8px;
  height: 400px;
}

#instructorList {
  overflow: auto;
}

#instructorList::-webkit-scrollbar {
  width: 6px;
}
#instructorList::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
#instructorList::-webkit-scrollbar-thumb {
  background: #22354f;
  border-radius: 10px;
}
#instructorList::-webkit-scrollbar-thumb:hover {
  background: #434a6b;
}

.eventButton {
  background-color: #626c99;
  width: 300px;
  height: 60px;
  border: none;
  border-radius: 8px;
}
