.uData {
  background-color: #626C99;
  color: #DEE0EB;
  width: 1050px;
  height: 60px;
  margin: 30px 0px;
  border-radius: 10px;
  text-align: left;
  padding: 17px;
}

#infoBox {
  background-color: #22354F;
  border-radius: 20px;
  padding: 25px;
  height: 900px;
  width: 1100px;
}

#avatar{
  background-color: #22354F;
  width: 300px;
  height: 300px;
}

#messageBtn {
  background-color: #22354F;
  color: #DEE0EB;
  width: 240px;
  height: 60px;
  border: none;
  border-radius: 20px;
}
