<div class="container-fluid" style="height: 100vh;">
  <div class="row h-100">
    <div class="col-lg-3 h-100 d-flex flex-column justify-content-center align-items-center">
      <div class="container-fluid">

        <div class="row">
          <div class="col-lg-12">
            <div id="reviewBox"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center align-items-center">
            <img src="assets/icons/kijeletkezés.svg" id="avatar" class="img-fluid" [class.userPfp]="type() == 'user'" [class.bannerImg]="type() == 'school'"/>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center">
            <button class="infoButton mb-2"><mat-icon>mail_outline</mat-icon></button>
            <button class="infoButton mt-2">Jelentkezés</button>
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-9 d-flex justify-content-center align-items-center">
      <div class="container-fluid" id="infoBox">
        <div class="row">
          <div class="col-lg-12">
            <h1 style="color: #dee0eb">{{searchedUser == null ? searchedSchool!.name : searchedUser.firstName + ' ' + searchedUser.lastName}}</h1>
            <h4 style="color: #b3b8d1">{{roleName}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <p class="uData mt-0">{{searchedUser == null ? 'Cím:' : 'Születési Dátum:'}}</p>
            <p class="uData mt-0">{{searchedUser == null ? 'Tulaj:' : 'Nem:'}}</p>
            <p class="uData mt-0">E-mail: {{searchedUser == null ? searchedSchool!.email : searchedUser.email}}</p>
            <p class="uData mt-0">Telefonszám: {{searchedUser == null ? searchedSchool!.phone : searchedUser.phone}}</p>
            @if(type() == "user" && searchedUser?.role?.name == 'ROLE_instructor'){
              <p class="uData mt-0">Iskola: {{searchedUser?.intructor?.instructorSchool?.name}}</p>
            }
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            @if(type() == "user"){
              @if (searchedUser?.role?.name == "ROLE_instructor"){
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="instructorInfoBox"></div>
                    </div>
                    <div class="col-lg-6">
                      <div class="instructorInfoBox"></div>
                    </div>
                  </div>
                </div>
              } @else if (searchedUser?.role?.name == "ROLE_student"){
                <div class="w-100 d-flex justify-content-center">
                <div id="progressBar">
                  <input id="bar" type="range" min="0" max="30" value="9" disabled />
                  <div class="d-flex">
                    <div class="lesson-info-item lesson-info-driven me-4">
                      Vezetett órák: <span>9</span>
                    </div>
                    <div class="lesson-info-item lesson-info-extra">
                      Plusz órák: <span>0</span>
                    </div>
                  </div>
                  <div class="lesson-info-item lesson-info-required">
                    Kötelező órák: <span>21</span>
                  </div>
                </div>
                </div>
              }
            }
            @else if (type() == "school"){
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-4">
                    <div id="openingDetails">

                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div id="instructorList">

                    </div>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>

      </div>


    </div>
  </div>
<!-- </div> -->
