.uData {
  background-color: #626c99;
  color: #dee0eb;
  width: 1050px;
  height: 60px;
  margin: 30px 0px;
  border-radius: 10px;
  text-align: left;
  padding: 17px;
}

.profil {
  margin: 0px 50px 0px 0px;
}

#infoBox {
  background-color: #22354f;
  border-radius: 20px;
  padding: 25px;
  height: 800px;
  width: 1100px;
}

#avatar {
  background-color: #22354f;
  width: 300px;
  height: 300px;
  margin: 0px 0px 20px 0px;
}

#messageBtn {
  background-color: #22354f;
  color: #dee0eb;
  width: 240px;
  height: 60px;
  border: none;
  border-radius: 20px;
}

#progressBar #bar {
  width: 850px;
  height: 20px;
  margin: 0px;
}

#progressBar {
  background-color: #636da1;
  padding: 25px;
  border-radius: 16px;
  width: 900px;
  color: white;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="range"] {
  appearance: none;
  width: 100%;
  height: 20px;
  border-radius: 20px;
  background: linear-gradient(to right, #349eff 30.5%, #b8bdd2 30%);
  outline: none;
  overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #349eff;
}

input[type="range"]::-moz-range-progress {
  background-color: #349eff;
  height: 20px;
  border-radius: 9999px;
}
input[type="range"]::-moz-range-track {
  background-color: #b8bdd2;
  height: 20px;
  border-radius: 9999px;
}

.lesson-info-item {
  position: relative;
  padding-left: 20px;
  color: #dee0eb;
  font-size: 1rem;
}

.lesson-info-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: #349eff;
}

.lesson-info-driven::before {
  background-color: #4b9cfb;
}

.lesson-info-extra::before {
  background-color: #7BB4C7;
}

.lesson-info-required::before {
  background-color: #b3b8d1;
}
