<div
  class="container-fluid vh-100 d-flex align-items-center justify-content-center"
>
  <div class="d-flex align-items-center">
    <div class="profil text-center">
      <img src="assets/icons/kijeletkezés.svg" id="avatar" /><br />
      <button id="messageBtn"><mat-icon>mail_outline</mat-icon></button>
    </div>

    <div class="p-4 d-flex flex-column align-items-start" id="infoBox">
      <div class="start">
        <h1 style="color: #dee0eb">Nevetés</h1>
        <h4 style="color: #b3b8d1">Titulust</h4>
      </div>
      <p class="uData mt-0">Születési Dátum</p>
      <p class="uData mt-0">Nem</p>
      <p class="uData mt-0">E-mail</p>
      <p class="uData mt-0">Telefonszám</p>
      <div class="w-100 d-flex justify-content-center">
        <div id="progressBar">
          <input id="bar" type="range" min="0" max="30" value="9" disabled />
          <div class="d-flex">
            <div class="lesson-info-item lesson-info-driven me-4">
              Vezetett órák: <span>9</span>
            </div>
            <div class="lesson-info-item lesson-info-extra">
              Plusz órák: <span>0</span>
            </div>
          </div>
          <div class="lesson-info-item lesson-info-required">
            Kötelező órák: <span>21</span>
          </div>
        </div>
        <div>

        </div>
      </div>
    </div>
  </div>
</div>
