<div class="container-fluid" id="mainContainer">
  <div class="row h-100">
    <div class="col-lg-12 h-100 w-100 d-flex justify-content-center align-items-center">
      <div class="container-fluid d-flex flex-column justify-content-between" id="secondContainer">
        <div class="row">
          <div class="col-lg-12 mt-3 d-flex justify-content-between">
            <div></div>
            <h1 class="text-center">Óra adatainak módósitása</h1>
            <div>
              <button (click)="close.emit()">X</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="container-fluid">

              <div class="row">
                <div class="col-lg-6">
                  <label for="">Tanuló felvételi helye</label>
                  <input type="text" name="" id="">
                </div>
                <div class="col-lg-6">
                  <label for="">Tanuló felvételi helye</label>
                  <input type="text" name="" id="">
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <label for="">Km óra állása kezdéskor:</label>
                  <input type="number" name="" id="">
                </div>
                <div class="col-lg-6">
                  <label for="">Km óra állása végzéskor</label>
                  <input type="number" name="" id="">
                </div>
              </div>

              <div class="row">
                <div class="col-lg-9">
                  <label for="">Hol vezetett a diák?</label>
                  <input type="text">
                </div>
                <div class="col-lg-3">
                  <label for="">Hány órát vezetett a diák</label>
                  <input type="number" name="" id="">
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <div>
                    <input type="radio" name="" id="">
                    <label for="">Ki van fizetve?</label>
                  </div>

                  <label for="">Fizetési módszer kiválasztása</label>
                  <select name="" id="">
                    @for (paymentMethod of paymentMethods; track $index) {
                      <option [value]="paymentMethod.id">{{paymentMethod.name}}</option>
                    }
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <label for="">Vezetési óra tipusa:</label>
                  <select name="" id="">
                    @for (lessonType of drivingLessonTypeList; track $index) {
                      <option [value]="lessonType.id">{{lessonType.name}}</option>
                    }
                  </select>
                </div>
                <div class="col-lg-6">
                  <label for="">Vezetési óra állapota</label>
                  <select name="" id="">
                    @for (status of statusList; track $index) {
                      <option [value]="status.id">{{status.name}}</option>
                    }
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-lg-12 d-flex justify-content-center">
            <button (click)="sendSave()">Mentés</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

