<div class="container-fluid" id="mainContainer">
  <div class="row h-100">
    <div class="col-lg-12 h-100 w-100 d-flex justify-content-center align-items-center">
      <div class="container-fluid d-flex flex-column justify-content-between" id="secondContainer">
        <div class="row">
          <div class="col-lg-12 mt-3 d-flex justify-content-between">
            <div></div>
            <h1 class="text-center">Óra adatainak módósitása</h1>
            <div>
              <button (click)="close.emit()">X</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <form [formGroup]="drivingLessonForm" class="container-fluid">

              <div class="row">
                <div class="col-lg-6">
                  <label for="pickUpPlace">Tanuló felvételi helye</label>
                  <input type="text" name="pickUpPlace" id="pickUpPlace" formControlName="pickUpPlace">
                </div>
                <div class="col-lg-6">
                  <label for="dropOffPlace">Tanuló elhelyezési helye</label>
                  <input type="text" name="dropOffPlace" id="dropOffPlace" formControlName="dropOffPlace">
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <label for="startKm">Km óra állása kezdéskor:</label>
                  <input type="number" name="startKm" id="startKm" formControlName="startKm">
                </div>
                <div class="col-lg-6">
                  <label for="endKm">Km óra állása végzéskor</label>
                  <input type="number" name="endKm" id="endKm" formControlName="endKm">
                </div>
              </div>

              <div class="row">
                <div class="col-lg-9">
                  <label for="location">Hol vezetett a diák?</label>
                  <input type="text" name="location" id="location" formControlName="location">
                </div>
                <div class="col-lg-3">
                  <label for="lessonHourNumber">Hány órát vezetett a diák</label>
                  <input type="number" name="lessonHourNumber" id="lessonHourNumber" formControlName="lessonHourNumber">
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <div>
                    <input type="radio" name="isPaid" id="isPaid" (click)="isPaid = !isPaid">
                    <label for="isPaid">Ki van fizetve?</label>
                  </div>

                  <label for="paymentMethod">Fizetési módszer kiválasztása</label>
                  <select name="paymentMethod" id="paymentMethod" formControlName="paymentMethod">
                    @for (paymentMethod of paymentMethods; track $index) {
                      <option [value]="paymentMethod.id">{{paymentMethod.name}}</option>
                    }
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <label for="lessonType">Vezetési óra tipusa:</label>
                </div>
                <div class="col-lg-6">
                  <label for="lessonStatus">Vezetési óra állapota</label>
                  <select name="lessonStatus" id="lessonStatus" formControlName="lessonStatus">
                    @for (status of statusList; track $index) {
                      <option [value]="$index">{{status.name}}</option>
                    }
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-lg-12 d-flex justify-content-center">
            <button (click)="cancelDrivingLesson()">Lemondás</button>
            <button (click)="sendSave()">Mentés</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

