<div
  class="container-fluid d-flex flex-column justify-content-center align-items-center"
  id="searchPage"
>
  <div class="row">
    <div class="col-lg-6 p-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col p-0">
            <div class="box" id="townIn">
              <input type="text" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col p-0">
            <div class="box" id="nameIn"  >
              <input type="text" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 p-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col p-0">
            <div class="box d-flex justify-content-between" id="description">
              <div class="container-fluid d-flex flex-column justify-content-between" id="mainContainer">
                <div class="row  gx-0">
                  <div class="col-lg-5 p-0">
                    <div id="profileImg" class="container-fluid">
                      <img src="assets/icons/kijeletkezés.svg" alt="" />
                    </div>
                  </div>
                  <div class="col-lg-7 p-0">
                    <div class="container-fluid">
                      <div class="row">
                        <div>
                          <h1>Név</h1>
                        </div>
                      </div>
                      <div class="row">
                        <div>
                          <h4>titulus</h4>
                        </div>
                      </div>
                      <div class="row">
                        <div id="reviewDiv">
                          <p>értékelés</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row  gx-0 h-100">
                  <div class="col p-0">
                    <div class="container-fluid d-flex flex-column justify-content-center align-items-center px-0">
                      <div id="descriptionText">
                        <p>leirás</p>
                      </div>
                      <div class="infoText">
                        <p>telefonszám</p>
                      </div>
                      <div class="infoText">
                        <p>email</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row gx-0">
                  <div class="col d-flex align-items-end justify-content-end p-0">
                    <button>Profil</button>
                    <button>jelentkezés</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
