 <div class="container-fluid mainFont" id="mainContainer">
  <div class="row h-100 my-0 my-5">

    <div class="col-lg-6">
      <div class="h-100 container-fluid d-flex flex-column justify-content-center">
        @if(selectedType == "instructor"){
          <div class="row mb-3">
            <div class="col-lg-12 d-flex justify-content-center">
              @for (fuelType of fuelTypeList; track $index) {
                <div class="mx-3">
                  <input [checked]="selectedFuelTypeId == fuelType.id" type="radio" [value]="fuelType.id" [id]="fuelType.name" name="fuelType" (change)="selectedFuelTypeId = fuelType.id!;getInstructorBySearch()">
                  <label [for]="fuelType.name">{{fuelType.name}}</label>
                </div>
              }
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="searchContainer">
                <input #instructorName (input)="filterInstructor(instructorName.value)" type="text" class="searchInput" placeholder="Az oktató neve" />
                <div class="optionContainer">
                  @for (instructor of filteredInstructorList; track $index) {
                    <p [class.selectedItem]="instructor.id == selectedInstructor?.instructorUser?.id" (click)="getInstructorById(instructor.id)" class="townParagraph py-1 px-2">{{instructor.name}}</p>
                  }
                </div>
              </div>
            </div>
          </div>
        } @else {
          <div class="row my-4">
            <div class="col-lg-12">
              <div class="searchContainer">
                <input type="text" placeholder="Város" class="searchInput" [(ngModel)]="selectedTown" (input)="filterTown()"/>
                <div class="optionContainer">
                  @for (town of filteredTownList;track $index) {
                    <p [class.selectedItem]="selectedTown == town" (click)="selectedTown = town; getSchoolByTown()" class="townParagraph py-1 px-2">{{town | titlecase}}</p>
                  }
                </div>
              </div>
            </div>
          </div>
          <div class="row my-4">
            <div class="col-lg-12">
              <div class="searchContainer">
                <input #schoolName (input)="filterSchoolName(schoolName.value)" type="text" class="searchInput" [placeholder]="'Az iskola neve'" />
                <div class="optionContainer">
                  @for (school of filteredSchoolList; track $index) {
                    <p [class.selectedItem]="school.id == selectedSchool?.id" (click)="getSchoolById(school.id)" class="townParagraph py-1 px-2">{{school.name| titlecase}}</p>
                  }
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>

    <div class="col-lg-6 my-lg-0 my-5 d-flex justify-content-center align-items-center">
      <div class="container-fluid pb-3 d-flex flex-column justify-content-between" id="resultContainer">
        <div class="row">
          <div class="col-lg-12 p-0">
            <div class="container-fluid">
              @if (selectedType == "school") {
              <div class="row">
                <div class="col-lg-12 p-0">
                  <img src="" alt="" id="schoolCoverImg">
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-lg-12 px-3">
                  <h1 class="text-lg-start">{{selectedSchool?.name}}</h1>
                  <h4 class="text-lg-start">{{selectedSchool?.address}}</h4>
                </div>
              </div>
            } @else {
              <div class="row mt-5">
                <div class="col-12 d-flex justify-content-center align-items-center">
                  <img id="instructorPfp" src="" alt="" class="img-fluid mx-2">

                  <div class="mx-2">
                    <h2 class="text-start m-0">{{selectedInstructor?.instructorUser?.firstName}} {{selectedInstructor?.instructorUser?.lastName}}</h2>
                    <h5 class="text-start">Oktató</h5>
                    <div class="reviewDiv d-lg-block d-none">
                      <p>Értékelések: 4.5</p>
                    </div>
                  </div>
                </div>
              </div>
            }
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="reviewDiv d-lg-none d-block my-3">
              <p>Értékelések: 4.5</p>
            </div>

            <div id="promoDiv" class="p-3">
              <p>Bemutatkozás:</p>
              <p>{{selectedSchool?.promoText}}</p>
            </div>
            <div class="infoParagraph px-3 my-3">
              <span>Telefonszám:</span>
              <span>{{selectedSchool?.phone}}</span>
            </div>
            <div class="infoParagraph px-3 my-3">
              <span>E-mail:</span>
              <span>{{selectedSchool?.email}}</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-between align-items-center">
            <button class="profileBtn" (click)="navigateToProfilePage()">
              <span class="material-symbols-outlined">account_circle</span>
            </button>
            @if((selectedType == "school" && userService.loggedUser()?.role?.name == "ROLE_student") || (selectedType == "instructor" && userService.loggedUser()?.instructorId == null)) {
              <div class="d-flex justify-content-center align-items-center">
                @if (selectedType == "school") {
                  <select id="categorySelect" class="form-select">
                    @for (category of selectedSchool?.licenseCategoryList; track $index) {
                      <option value="">{{category.licenseCategory.name}}</option>
                    }
                  </select>
                }
                <button id="signBtn" (click)="sendJoinRequest()" [disabled]="selectedType == 'school' && selectedCategoryId == null && userService.loggedUser()?.role?.name == 'ROLE_user'">jelentkezés</button>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
