#searchPage {
  height: 100vh;
}

.box {
  background-color: #626C99;
  width: 800px;
  margin: 15px;
}

#description {
  width: 800px;
  height: 900px;
}
#profileImg {
  width: 100%;
  height: 45px;
}

img {
  width: 250px;
  height: 250px;
}

#townIn {
  height: 435px;
}

#nameIn {
  height: 435px;
}

#descriptionText{
  background-color: #22354F;
  width: 770px;
  height: 200px;
  margin: 15px 0px;
  padding: 5px;
}

.infoText{
  background-color: #22354F;
  width: 770px;
  height: 50px;
  margin: 15px 0px;
  padding: 5px;
}

#reviewDiv{
  background-color: #22354F;
  width: 300px;
  height: 100px;
}

#mainContainer {
  height: 900px;
  padding: 15px;
}
