#searchPage {
  height: 100vh;
}

.box {
  background-color: #626C99;
  width: 800px;
  margin: 15px;
}

#description {
  width: 800px;
  height: 900px;
}
#profileImg {
  width: 100%;
  height: 100%;
}

input {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  border: none;
  height: 45px;
}

img {
  background-color: #22354F;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
}

div {
  border-radius: 15px;
}

#townIn {
  height: 435px;
}

#nameIn {
  height: 435px;
}

button {
  background-color: #22354F;
  color: #DEE0EB;
  border: none;
  border-radius: 5px;
  margin: 7.5px;
  height: 50px;
}

.profileBtn{
  width: 50px;
}

.signBtn {
  width: 180px;
}

#descriptionText{
  background-color: #22354F;
  width: 770px;
  height: 200px;
  margin: 15px 0px;
  padding: 5px;
}

.infoText{
  background-color: #22354F;
  width: 770px;
  height: 50px;
  margin: 15px 0px;
  padding: 5px;
}

#reviewDiv{
  background-color: #22354F;
  width: 300px;
  height: 100px;
}

#mainContainer {
  height: 900px;
}
