input[type=text] {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  border: none;
  height: 45px;
}

#schoolCoverImg {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
}

#nameIn {
  height: 435px;
}

button {
  background-color: #22354F;
  color: #DEE0EB;
  border: none;
  border-radius: 5px;
  margin: 7.5px;
  height: 50px;
}

#mainContainer {
  min-height: 100vh;
}

.searchContainer {
  width: 100% !important;
  background-color: #626C99;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.optionContainer {
  height: 380px;
  overflow: auto;
}

.townParagraph {
  cursor: pointer;
}

.townParagraph:hover,
.townParagraph.active,
.selectedItem {
  background-color: #2B3B57;
}

#resultContainer {
  background-color: #626C99;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 16px;
  height: 900px;
}

#schoolCoverImg {
  height: 170px;
}

.infoParagraph {
  background-color: #22354F;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#promoDiv {
  background-color: #22354F;
  height: 225px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.infoParagraph,
.reviewDiv,
#promoDiv {
  border-radius: 10px;
}

.reviewDiv {
  background-color: #22354F;
  height: 100px;
  min-width: 250px;
}

.profileBtn {
  width: 50px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#signBtn {
  width: 180px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#categorySelect {
  width: 75px;
  height: 50px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#instructorPfp {
  width: 175px;
  height: 175px;
}

@media screen and (max-width: 400px) {

  #buttonRow,
  #joinDiv {
    display: flex;
    flex-direction: column;
  }

  #buttonRow button,
  #joinDiv button,
  #categorySelect select {
    width: 100% !important;
  }

  #resultContainer {
    height: 1050px;
  }
}
