#page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DEE0EB;
}

#passwordReset {
  width: 600px;
  height: 400px;
  padding: 25px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  background-color: #22354F;
}

#email {
  width: 550px;
  height: 60px;
  border-radius: 15px;
  border: none;
  background-color: #626C99;
}

#title {
  font-family: til;
  margin: 0px 0px 0px 15px;
  padding: 0px 10px 0px 10px;
  border-radius: 5px 5px 0px 0px;
  background-color: #626C99;
}

.inputField {
  margin: 15px 0px 15px 0px;
}

#resetButton {
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #626C99;
}

.linkText {
  color: #168CF7;
  font-weight: bold;
  text-decoration: none;
}
