.main-container {
  height: 100vh;
}

form {
  background-color: #22354F;
  width: 600px;
  height: 500px;
  padding: 30px;
  border-radius: 15px;
}

input {
  height: 60px;
  border-radius: 15px;
  margin-bottom: 15px;
  border: none;
  background-color: #626C99;
  color: #DEE0EB;
  padding: 0px 5px;
}

input::placeholder {
  color: #22354F;
}

.email-input{
  width: 400px;
}

.auth-input {
  width: 525px;
}

.filledButton {
  background-color: #626C99;
  color: #DEE0EB;
  height: 60px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
}

a {
  text-decoration: none;
}

