<div class="container-fluid" id="page">
  <div class="row">
    <div class="col-lg-12">
      <div class="contaier-fluid" id="passwordReset">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="mainFont  text-center">Elfelejtetted a jelszavad?</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
              pariatur? Facere, modi porro, quos minima id quisquam magni illum
              corporis in, deleniti itaque optio. Ipsam architecto suscipit
              quisquam ex eius!
            </p>
          </div>
        </div>

        <div class="row inputField">
          <div class="col-lg-12 p-0">
            <label for="email" id="title"> <span class="mainFont">Email</span> </label> <br />
            <input type="email" id="email" name="email" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 ">
            <button id="resetButton" class="mainFont">Küldés</button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <a routerLink="/login" class="linkText">Vissza a bejelentkezéshez!</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
