#mainContainer {
  height: 100vh;
}

#secondContainer {
  height: 750px;
  background-color: #22354F;
  width: 600px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

input {
  height: 60px;
  border-radius: 15px;
  border: none;
  background-color: #626C99;
  color: #DEE0EB;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

input::placeholder {
  color: white;
}

.filledButton {
  background-color: #626C99;
  color: #DEE0EB;
  height: 60px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

a {
  text-decoration: none;
}

.showButton {
  height: 60px;
  background-color: #626C99;
  color: #DEE0EB;
  border: none;
  border-radius: 5px;
}

button {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media screen and (max-width: 640px) {
  #secondContainer {
    width: 100%;
  }
}
