<div class="container-fluid" style="height: 100vh;">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center mainFont mt-4">{{title}}</h1>
    </div>
  </div>

  @for (row of getCardRow(); track $index) {
  <div class="row mb-5">
    <div class="col-lg-12 d-flex flex-lg-row flex-column">
      @for (card of row; track $index) {
        <div class="container-fluid d-flex flex-column justify-content-between my-4" id="cardContainer">
          <div class="row">
            <div class="col-lg-12 d-flex flex-column align-items-center">
              <img [src]="card.imagePath" alt="" class="mt-4 mb-3 img-fluid">
              <h6 class="text-white">{{card.name}}</h6>
              <div class="col-lg-12 d-flex justify-content-center">
                <button class="iconButton mx-2">
                  <span class="material-icons text-white">mail</span>
                </button>
                <button (click)="navigateToUserPage(card)" class="iconButton mx-2">
                  <span class="material-symbols-outlined text-white">account_circle</span>
                </button>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-12 px-4">
              <button class="deleteButton w-100 text-white" style="height: 40px;" (click)="deleteMember(card)">{{deleteText}}</button>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
  }
</div>
