


<div class="box" id="school">
  <p>név</p>
  <p>cím</p>
  <p>e-mail</p>
  <p>telefonszám</p>
  <p>nyitvatartás</p>
  <p>hétfő</p>
  <p>kedd</p>
  <p>szerda</p>
  <p>csütörtök</p>
  <p>péntek</p>
</div>

<div class="box" id="instructor">
  <div><img src="" alt=""></div>
  <button>prof</button>
  <button>msg</button>
</div>

<div class="box" id="calendar"></div>
<div class="box" id="car">
  <p>név</p>
  <p>típus</p>
  <p>rendszám</p>
</div>
<div class="box" id="progressbar">
  <p>vezetett</p>
</div>
<div class="box" id="progressbar">
  <p>befizetett</p>
</div>
