<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh;" id="asd">
  @if (loggedUser == null) {
    <div class="row h-100">
      <div class="col-lg-12 d-flex justify-content-center align-items-center">
        <h1 class="text-center mainFont">Az adatok megjelenitéséhez jeletkezz be!</h1>
      </div>
    </div>
  } @else if (loggedUser.role.name != "ROLE_administrator") {
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <!-- Felsosor -->
          <div class="row">
            <!-- Diak nezete, felsosor: -->
            @if (loggedUser.role.name == "ROLE_student") {
              <div class="col-lg-6 my-lg-0 my-4">
                <div id="studentSchoolContainer" class="container-fluid h-100">
                  <div class="row">
                    <div class="col-lg-12">
                      <img id="schoolBannerImg" class="img-fluid" src="" alt="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <h3 class="text-center mainFont">{{loggedUser.school?.name}}</h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="w-100 my-3 px-3 py-2 text-white infoDiv d-flex align-items-center justify-content-between">
                        <span>Cím:</span>
                        <span>{{loggedUser.school?.country}} {{loggedUser.school?.town}} {{loggedUser.school?.address}}</span>
                      </div>

                      <div class="w-100 my-3 px-3 py-2 text-white infoDiv d-flex align-items-center justify-content-between">
                        <span>E-mail:</span>
                        <span>{{loggedUser.school?.email}}</span>
                      </div>

                      <div class="w-100 my-3 px-3 py-2 text-white infoDiv d-flex align-items-center justify-content-between">
                        <span>Telefonszám:</span>
                        <span>{{loggedUser.school?.phone}}</span>
                      </div>

                      <div class="mb-0 px-3 py-2 text-white infoDiv" style="background-color: #626C99;">Nyitvatartás:</div>
                      <div class="w-100 h-100 px-4">
                        <div class="w-100 px-3 py-2 text-white openingDiv d-flex align-items-center justify-content-between">
                          <span>Hétfő:</span>
                          <span>{{loggedUser.school?.openingDetails![0].openingTime}} - {{loggedUser.school?.openingDetails![0].closeTime}}</span>
                        </div>
                        <div class="w-100 px-3 py-2 text-white openingDiv d-flex align-items-center justify-content-between">
                          <span>Kedd:</span>
                          <span>{{loggedUser.school?.openingDetails![1].openingTime}} - {{loggedUser.school?.openingDetails![1].closeTime}}</span>
                        </div>
                        <div class="w-100 px-3 py-2 text-white openingDiv d-flex align-items-center justify-content-between">
                          <span>Szerda:</span>
                          <span>{{loggedUser.school?.openingDetails![2].openingTime}} - {{loggedUser.school?.openingDetails![2].closeTime}}</span>
                        </div>
                        <div class="w-100 px-3 py-2 text-white openingDiv d-flex align-items-center justify-content-between">
                          <span>Csütörtök:</span>
                          <span>{{loggedUser.school?.openingDetails![3].openingTime}} - {{loggedUser.school?.openingDetails![3].closeTime}}</span>
                        </div>
                        <div class="w-100 px-3 py-2 text-white openingDiv d-flex align-items-center justify-content-between">
                          <span>Péntek:</span>
                          <span>{{loggedUser.school?.openingDetails![4].openingTime}} - {{loggedUser.school?.openingDetails![4].closeTime}}</span>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 my-lg-0 my-4">
                <div class="container-fluid">
                  <div class="row mt">
                    <div class="col-lg-12">
                      <div id="studentInstructorDiv" class="container-fluid my-lg-0 my-4">
                        <div class="row">
                          <div class="col-lg-12">
                            <h3 class="text-center mainFont mt-3">{{loggedUser.instructor?.firstName}} {{loggedUser.instructor?.lastName}}</h3>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 d-flex flex-column align-items-center justify-content-center">
                            <img [src]="loggedUser.instructor?.pfpPath" alt="" class="img-fluid" id="instructorPfp">
                            <div class="mt-3">
                              <button class="instructorButton mx-2">
                                <span class="material-symbols-outlined">mail</span>
                              </button>
                              <button class="instructorButton mx-2">
                                <span class="material-symbols-outlined">account_circle</span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row h-100">
                    <div class="col-lg-12 h-100 mt-lg-4 mb-lg-0 my-4">
                      <div id="studentCategoryDiv" class="container-fluid h-100">
                        <div class="row">
                          <div class="col-lg-12">
                            <h3 class="text-center mainFont mt-4">Jogosítvány kategória</h3>
                            <p id="category" class="text-center">{{loggedUser.category}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <!-- Oktato, suliadmin felsosor -->
            } @else {
              <div class="col-lg-12">
                <div class="container-fluid h-100" style="background-color: #22354F; height: 425px !important; overflow: auto;">
                  <div class="row">
                    <div class="col-lg-12">
                      <h1 class="text-center mainFont">Diákok</h1>
                    </div>
                  </div>
                  <div class="row">
                    <div class="container-fluid">
                      @for (studentRow of setProfilCardRows(loggedUser.students!); track $index) {
                        <div class="row">
                        @for (student of studentRow; track $index) {
                          <div class="col-lg-4 my-2">
                            <app-profil-card [profilCardData]="student" [role]="'student'"/>
                          </div>
                        }
                        </div>
                      }
                    </div>
                  </div>
                </div>
              </div>
            }
          </div>

          <!-- alsosor -->
          <div class="row mt-3">
          <!-- diak alsosor -->
          @if (loggedUser.role.name == "ROLE_student") {
            <div class="col-lg-12">
              <div class="container-fluid my-lg-0 my-4">
                <!-- Levezetett orak -->
                <div class="row mt-4">
                  <div class="col-lg-12 d-flex justify-content-center align-items-center">
                    <div class="d-flex flex-column justify-content-center align-items-start w-100 p-4" id="progressbar-driven" style="background-color: #22354F; border-radius: 12px;">
                      <input classóó="bar" type="range" min="0" max="30" value="9" disabled/>
                      @if (loggedUser.role.name == "ROLE_student") {
                      <div class="d-flex">
                        <p class="lesson-info-item lesson-info-driven me-4">Vezetett órák: <span>9</span></p>
                        <p class="lesson-info-item lesson-info-extra">Plusz órák: <span>0</span></p>
                      </div>
                      <div>
                        <p class="lesson-info-item lesson-info-required">Kötelező órák: <span>21</span></p>
                      </div>} @else {
                        <h1>Vezetési előzmény nem található</h1>
                      }
                    </div>
                  </div>
                </div>

                <!-- Befizetett órák -->
                <div class="row mt-4">
                  <div class="col-lg-12 d-flex justify-content-center align-items-center">
                    <div class="d-flex flex-column align-items-start w-100 p-4" id="progressbar-payed" style="background-color: #22354F; border-radius: 12px;">
                      <input class="bar" type="range" min="0" max="30" value="9" disabled/>
                      @if (loggedUser.role.name == "ROLE_student") {
                      <div class="d-flex">
                        <p class="lesson-info-item lesson-info-driven me-4">Befizetett órák: <span>9</span></p>
                      </div>} @else {
                        <h1>Fizetési előzmény nem található</h1>
                      }
                    </div>
                  </div>
                </div>
              </div>
            </div>
          } @else {
            <div class="col-lg-12">
              <div class="container-fluid" style="background-color: #22354F; height: 425px; overflow: auto;">
                <div class="row">
                  <div class="col-lg-12">

                    <!-- Oktato alsosor -->
                    @if (loggedUser.role.name == "ROLE_instructor") {
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-lg-12">
                            <h1 class="text-center mainFont mt-4">Iskola</h1>
                          </div>
                        </div>

                        <div class="row py-4">
                          <div class="col-lg-6 d-flex justify-content-center align-items-center">
                            <div class="w-100">
                              <div class="w-100 my-3 px-3 py-2 text-white infoDiv d-flex align-items-center justify-content-between">
                                <span>Cím:</span>
                                <span>{{loggedUser.school?.country}} {{loggedUser.school?.town}} {{loggedUser.school?.address}}</span>
                              </div>

                              <div class="w-100 my-3 px-3 py-2 text-white infoDiv d-flex align-items-center justify-content-between">
                                <span>E-mail:</span>
                                <span>{{loggedUser.school?.email}}</span>
                              </div>

                              <div class="w-100 my-3 px-3 py-2 text-white infoDiv d-flex align-items-center justify-content-between">
                                <span>Telefonszám:</span>
                                <span>{{loggedUser.school?.phone}}</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="mb-0 px-3 py-2 text-white" style="background-color: #626C99; border-radius: 8px;">Nyitvatartás:</div>
                            <div class="w-100 h-100 px-4">
                              <div class="w-100 px-3 py-2 text-white openingDiv d-flex align-items-center justify-content-between">
                                <span>Hétfő:</span>
                                <span>{{loggedUser.school?.openingDetails![0].openingTime}} - {{loggedUser.school?.openingDetails![0].closeTime}}</span>
                              </div>
                              <div class="w-100 px-3 py-2 text-white openingDiv d-flex align-items-center justify-content-between">
                                <span>Kedd:</span>
                                <span>{{loggedUser.school?.openingDetails![1].openingTime}} - {{loggedUser.school?.openingDetails![1].closeTime}}</span>
                              </div>
                              <div class="w-100 px-3 py-2 text-white openingDiv d-flex align-items-center justify-content-between">
                                <span>Szerda:</span>
                                <span>{{loggedUser.school?.openingDetails![2].openingTime}} - {{loggedUser.school?.openingDetails![2].closeTime}}</span>
                              </div>
                              <div class="w-100 px-3 py-2 text-white openingDiv d-flex align-items-center justify-content-between">
                                <span>Csütörtök:</span>
                                <span>{{loggedUser.school?.openingDetails![3].openingTime}} - {{loggedUser.school?.openingDetails![3].closeTime}}</span>
                              </div>
                              <div class="w-100 px-3 py-2 text-white openingDiv d-flex align-items-center justify-content-between">
                                <span>Péntek:</span>
                                <span>{{loggedUser.school?.openingDetails![4].openingTime}} - {{loggedUser.school?.openingDetails![4].closeTime}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    }
                    <!-- suliAdmin/suliTulaj alsosor -->
                    @else {
                      <div class="container-fluid" >
                        <div class="row">
                          <div class="col-lg-12">
                            <h1 class="text-center mainFont">Oktatók</h1>
                             @for (instructorRow of setProfilCardRows(loggedUser.instructors!); track $index) {
                              <div class="row my-3">
                                @for (instructor of instructorRow; track $index) {
                                  <div class="col-lg-4">
                                    <app-profil-card [profilCardData]="instructor" [role]="'instructor'"/>
                                  </div>
                                }
                              </div>
                            }
                          </div>
                        </div>
                      </div>
                    }
                  </div>
                </div>
              </div>
            </div>
          }
          </div>
        </div>
        <div class="col-lg-4">
          <div class="container-fluid h-100 d-flex flex-column justify-content-between">

            <!-- Naptar helye: -->
            <div class="row my-lg-0 my-4">
              <div class="col-lg-12">
                <mat-card class="demo-inline-calendar-card">
                  <mat-calendar></mat-calendar>
                </mat-card>
              </div>
            </div>

            <div class="row my-lg-0 my-4">
              <div class="col-lg-12">
                <div class="p-3 h-100 w-100" id="littleCard">
                    @if (loggedUser.role.name == "ROLE_student" || loggedUser.role.name == "ROLE_instructor") {
                      <div class="w-100 mb-2 d-flex justify-content-center align-items-center">
                          <span class="material-symbols-outlined">directions_car</span>
                      </div>
                      <div class="w-100 my-3 px-3 py-2 text-white infoDiv d-flex align-items-center justify-content-between">
                        <span>Név:</span>
                        <span>{{loggedUser.vehicle?.name}}</span>
                      </div>
                      <div class="w-100 my-3 px-3 py-2 text-white infoDiv d-flex align-items-center justify-content-between">
                        <span>Típus:</span>
                        <span>{{loggedUser.vehicle?.type}}</span>
                      </div>
                      <div class="w-100 my-3 px-3 py-2 text-white infoDiv d-flex align-items-center justify-content-between">
                        <span>Rendszám:</span>
                        <span>{{loggedUser.vehicle?.licensePlate}}</span>
                      </div>
                    } @else {

                    }
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  } @else { -->
    <div class="row w-100">
      <div class="col-lg-6 my-lg-0 my-4">
        <div class="cardContainer container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="text-white text-center my-4">Felhasználók:</h1>
              <div class="px-4 userCardContainer">
                @for (user of userList; track $index) {
                  <div class="bg-white px-4 my-3 d-flex justify-content-between align-items-center schoolCard">
                    <h2>{{user.name}}</h2>
                    <button (click)="navigateToProfilPage('user', user.id)">
                      <span class="material-symbols-outlined">arrow_forward</span>
                    </button>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 my-lg-0 my-4">
        <div class="cardContainer container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="text-white text-center my-4">Iskolák:</h1>
              <div class="px-4 userCardContainer">
                <div class="bg-white px-4 my-3 d-flex justify-content-between align-items-center schoolCard">
                    <h2>Iskola hozzáadása</h2>
                    <button (click)="showSchoolForm = true">+</button>
                  </div>

                @for (school of schoolList; track $index) {
                  <div class="bg-white px-4 my-3 d-flex justify-content-between align-items-center schoolCard">
                    <h2>{{school.name}}</h2>
                    <button (click)="navigateToProfilPage('school', school.id)">
                      <span class="material-symbols-outlined">arrow_forward</span>
                    </button>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>

@if (showSchoolForm) {
  <app-school-registration (close)="showSchoolForm = false"/>
}
