
.box{
  margin: 15px;
  background-color: #22354F;
  border-radius: 15px;
}

#school {
  width: 500px;
  height: 600px;
}

#instructor {
  width: 350px;
  height: 405px;
}

#license-category {
  width: 351px;
  height: 165px;
}

#calendar {
  width: 435px;
  height: 600px;
}

#car {
  width: 435px;
  height: 250px;
}

.progressbar-driven {
  width: 880px;
  height: 140px;
}
.progressbar-payed {
  width: 880px;
  height: 100px;
}
