<div id="footer" class="container-fluid d-flex flex-column justify-content-center align-items-center">

  <div id="links" class="row">
    <div class="col-lg-12 d-flex justify-content-center align-items-center">
      <a class="mx-2" href="x">Oktatóknak</a>
      <a class="mx-2" href="x">Iskoláknak</a>
      <a class="mx-2" href="x">Regisztráció</a>
      <a class="mx-2" href="x">Rólunk</a>
      <a class="mx-2" href="x">GY.I.K</a>
    </div>
  </div>

  <div id="text" class="row">
    <div class="col-lg-12 d-flex justify-content-center align-items-center">
      <p>© 2023 Driving Licence App. All rights reserved.</p>
    </div>
  </div>

</div>
