<div id="footer" class="container-fluid d-flex flex-column justify-content-center align-items-center">

  <div id="links" class="row">
    <div class="col-lg-12 d-flex flex-lg-row flex-column justify-content-center align-items-center mainFont py-3">
      <a class="linkText mx-2 my-1" href="x">Oktatóknak</a>
      <a class="linkText mx-2 my-1" href="x">Iskoláknak</a>
      <a class="linkText mx-2 my-1" href="x">Regisztráció</a>
      <a class="linkText mx-2 my-1" routerLink="/about">Rólunk</a>
      <a class="linkText mx-2 my-1" routerLink="/faq">GY.I.K</a>
    </div>
  </div>

  <div id="text" class="row">
    <div class="col-lg-12 d-flex justify-content-center align-items-center">
      <p class="text-white">© 2023 Driving Licence App. All rights reserved.</p>
    </div>
  </div>

</div>
