body {
  width: 100vh;
  background-color: #434a6b;
}

.col {
  --bs-gutter-x: 0;
}


app-navbar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
  transition: width 0.5s ease;
}


.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.navbar-wrapper:hover ~ .sidebar-overlay,
app-navbar:hover ~ .sidebar-overlay {
  opacity: 1;
  visibility: visible;
  transition: width 0.5s ease;
}

.container-fluid:has(app-navbar:hover) .sidebar-overlay {
  opacity: 1;
  visibility: visible;
}


#alertRow {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
}

#alertCol {
  z-index: 9999;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.success {
  background-color: #8BFF8E;
  border: 2px solid #008C05;
  color: #004A02 !important;
}

.error {
  background-color: #FF8B8B;
  border: 2px solid #FF3737;
  color: #892222 !important;
}
