<div class="container-fluid">
  <h1 class="secondaryFont">GYIK<span class="bottomText"> gyakran ismételt kérdések</span></h1>
  <h2 class="secondaryFont">Mit jelentenek a jogisítványon szereplő betűk?</h2>
  <ul class="mainFont">
    <li><span class="category">A</span> - Bármilyen hengerűrtartalmú motorkerékpár.</li>
    <li><span class="category">A1</span> - Maximum 125 cm³ és 11 kW teljesítményű motor vagy quad.</li>
    <li><span class="category">A2</span> - Maximum 35 kW teljesítményű motor vagy quad.</li>
    <li><span class="category">A1/B (B125)</span> - Ugyanaz, mint az A1 kategóriánál (125 cm³, max. 11 kW).</li>
    <li><span class="category">AM</span> - 50 cm³ alatti, max. 4 kW teljesítményű, legfeljebb 45 km/h sebességű járművek.</li>
    <li><span class="category">B</span> - Max. 3500 kg-os személy- vagy tehergépkocsi (max. 8 utas). <br>
                        Könnyű és bizonyos feltételekkel nehéz pótkocsis szerelvény. <br>
                        Mezőgazdasági vontató, lassú jármű, állati erővel vontatott jármű, segédmotor (50 cm³), quad, mopedautó.</li>
    <li><span class="category">C</span> - 3500 kg feletti tehergépkocsi és könnyű pótkocsis szerelvény.</li>
    <li><span class="category">D</span> - Autóbusz és könnyű pótkocsis autóbusz-szerelvény.</li>
    <li><span class="category">E</span> - Gépkocsi és nehéz pótkocsiból álló járműszerelvény.</li>
  </ul>
</div>
