.container-fluid {
  height: 100vh;
  padding: 30px;
}

.bottomText{
  font-size: 24px;
}

h1{
  font-size: 64px;
  color: #D7E4FF;
}

li {
  list-style: none;
  font-size: 24px;
  color: #D7E4FF;
}

.category {
  color: #7BB4C7;
}

h2 {
  font-size: 48px;
  color: #1A99FE;
}
