<p>registartion-page works!</p>
<div>
  <div class="registration d-flex flex-column justify-content-between align-items-center">
    <div>
      <h1 class="d-flex flex-column justify-content-between align-items-center">Regisztráció</h1>
      <form [formGroup]="registrationForm">
        <label for="firstName"><input class="nameF" type="text" placeholder="Keresztnév" formControlName="firstName"></label>
        <label for="lastName"><input class="nameL" type="text" placeholder="Vezetéknév" formControlName="lastName"></label>
        <label for="email"><input class="inputs" type="email" placeholder="Email" formControlName="email"></label> <br>
        <label for="phone"><input class="inputs" type="phone" placeholder="Telefonszám" formControlName="phone"></label><br>
        <label for="birthDate"><input class="inputs" type="date" placeholder="Születési dátum" formControlName="birthDate"></label><br>
        <label for="gender">
          <select class="inputs" formControlName="gender">
            <option value="" disabled selected>Nem</option>
            <option value="male">Férfi</option>
            <option value="female">Nő</option>
            <option value="other">Egyéb</option>
          </select>
        </label><br>
        <label for="education">
          <select class="inputs" formControlName="education">
            <option value="" disabled selected>Iskolai végzettség</option>
            <option value="primary">Általános iskola</option>
            <option value="secondary">Középiskola</option>
            <option value="higher">Felsőfokú</option>
          </select>
        </label><br>
        <label for="password"><input class="inputs" type="password" placeholder="Jelszó" formControlName="password"></label><br>
        <label for="confirmPassword"><input class="inputs" type="password" placeholder="Jelszó megerősítése" formControlName="confirmPassword"></label><br>
        <label for="rules"><input class="check" type="checkbox"> Elfogadom a szabályzatot!</label>
      </form>

    </div>
      <button id="register-button">Regisztráció</button>
  </div>
</div>
