
#fullPage {
  margin: 50px 0px;
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.registration {
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  height: 950px;
  width: 650px;
  background-color: #22354F;
  color: #DEE0EB;
  display: flex;
}

.inputs {
  width: 610px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #626C99;
  color: #DEE0EB;
}

.inputs::placeholder{
  color: #DEE0EB;
}

.nameF {
  width: 295px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 20px;
    padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #626C99;
  color: #DEE0EB;
}

.nameF::placeholder{
  color: #DEE0EB;
}

.nameL {
  width: 295px;
  height: 50px;
  margin-left: 10px;
  margin-bottom: 20px;
    padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #626C99;
  color: #DEE0EB;
}

.nameL::placeholder{
  color: #DEE0EB;
}

#register-button {
  text-align: center;
  width: 400px;
  height: 50px;
    padding: 10px;
  color: #DEE0EB;
  background-color: #626C99;
  border: none;
  border-radius: 15px;
}

