<div class="container-fluid cardContainer my-3">
  <div class="row h-100" style="min-height: 150px;">
    <div class="col-lg-12 d-flex justify-content-center w-100">
      <div class="d-flex justify-content-center align-items-center imgContainer" style="min-height: 150px;">
        <img [src]="pfpPath" alt="" class="img-fluid"/>
      </div>
      <div class="textContainer container-fluid d-flex flex-column justify-content-center align-items-lg-start align-items-center">
        <div class="row">
          <div class="col-lg-12">
            @for (line of lines; track $index) {
              <p class="text-white m-0 text-lg-start text-center">{{line}}</p>
            }
          </div>
        </div>
        <div class="row my-2 d-lg-flex d-none">
          <div class="col-lg-12">
            <button class="statusButton acceptButton" (click)="handleRequest('accept')">
              <span class="material-symbols-outlined">check</span>
            </button>
            <button class="statusButton mx-2 refuseButton" (click)="handleRequest('refuse')">
              <span class="material-symbols-outlined">close</span>
            </button>
          </div>
        </div>
      </div>
    </div>




  </div>

  <div class="row my-2 d-lg-none d-flex">
    <div class="col-lg-12 d-flex justify-content-center mb-4">
      <button class="statusButton acceptButton" (click)="handleRequest('accept')">
        <span class="material-symbols-outlined">check</span>
      </button>
      <button class="statusButton mx-2 refuseButton" (click)="handleRequest('refuse')">
        <span class="material-symbols-outlined">close</span>
      </button>
    </div>
  </div>
</div>
