<div id="mainContainer" class="container-fluid d-flex flex-column justify-content-center align-items-center">

  <div class="row h-100 w-100">
    <div class="col-lg-12 h-100 d-flex flex-column justify-content-center align-items-center">
      <div id="secondContainer" class="container-fluid d-flex flex-column justify-content-between align-items-center">

        <div class="row w-100">
          <div class="col-lg-12">
            <h1 class="text-lg-start text-center mt-5">Bejelentkezés</h1>
            <p class="text-danger"></p>
              <form [formGroup]="loginForm" class="d-flex flex-column">
                <input class="textInput" type="text" placeholder="Email" formControlName="email">
                <input class="textInput" type="password" placeholder="Jelszó" formControlName="password">
              </form>
              <div class="d-flex justify-content-between align-items-center mt-3">
                <div class="d-flex justify-content-center align-items-center">
                  <input type="checkbox" name="rememberMe" id="rememberMe">
                  <label for="rememberMe" class="mx-3">Emlékezzen rám</label>
                </div>
                <a id="forgotten" class="d-lg-block d-none" routerLink="/password-reset">Elfelejtette a jelszavát?</a>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="bottom col-lg-12">
            <a id="forgotten" class="d-lg-none d-block w-100 text-center mb-3" routerLink="/password-reset">Elfelejtette a jelszavát?</a>
            <button id="login-button" class="mb-3" (click)="login()">Bejelentkezés</button>
            <p>Nincs fiókja? <a routerLink="/registration">Regisztráljon!</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
