#login {
  margin: auto;
  padding: 40px;
  border-radius: 20px;
  height: 600px;
  width: 500px;
  background-color: #22354F;
  color: #DEE0EB;
}

.page {
  margin: 0px;
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs {
  margin: 10px 0px;
  width: 420px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #626C99;
  color: #DEE0EB;
  padding: 10px;
}
.inputs::placeholder{
  color: #DEE0EB;
}

.check{
  background-color: rgba(0, 0, 0, 0);
}

#forgotten{
  float: right;
}

a{
  font-weight: bold;
  color: #168CF7;
  text-decoration: none;
}

#login-button{
  width: 150px;
  height: 50px;
  color: #DEE0EB;
  background-color: #626C99;
  border: none;
  border-radius: 15px;
}

.bottom {
  text-align: center;
}
