#secondContainer {
  border-radius: 20px;
  height: 600px;
  width: 500px;
  background-color: #22354F;
  color: #DEE0EB;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.textInput {
  margin: 10px 0px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #626C99;
  color: #DEE0EB;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.input::placeholder{
  color: #DEE0EB;
}


#forgotten{
  float: right;
}

a{
  font-weight: bold;
  color: #168CF7;
  text-decoration: none;
}

#login-button{
  width: 185px;
  height: 50px;
  color: #DEE0EB;
  background-color: #626C99;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.bottom {
  text-align: center;
}

#mainContainer {
  height: 100vh;
}

@media screen and (max-width: 550px) {
  #secondContainer {
    width: 100%;
  }
}
